body, html {
    height: 100%;
    background-repeat: no-repeat;
  }
  
  .bg {
    background: url(../images/1091461-full-size-3d-high-resolution-wallpapers-1920x1080-for-mobile.jpg);
    background-position: center;
    background-size: cover;
}

  .body-grid{
    background: url(/images/1091461-full-size-3d-high-resolution-wallpapers-1920x1080-for-mobile.jpg);
    background-size: 100%;
    background-position: center;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% auto 20%;
    height: 100vh;
    }
    
.links{
    display: flex;
    justify-content: space-evenly;
}
.grid-1{
    /* border: solid black 2px; */
}
.grid-2{
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    text-align: center;
}
.links {
 padding: 20px;;
}

.grid-3{
    /* border: solid black 2px; */
    
}
.grid-4{
    /* border: solid black 2px; */
}
.grid-5{
    /* border: solid black 2px; */
}
.grid-6{
    /* border: solid black 2px; */
    
}
.grid-7{
    /* border: solid black 2px; */
}
.grid-8{
    /* border: solid black 2px; */
    justify-items: center;
}
.grid-9{
    /* border: solid black 2px; */
    
}

  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  
  
}