body, html {
    height: 100%;
    background-repeat: no-repeat;
  }
  
  .bg {
    background: url(../images/1091461-full-size-3d-high-resolution-wallpapers-1920x1080-for-mobile.jpg);
    background-position: center;
    background-size: cover;
}

  .body-grid{
    background: url(/images/1091461-full-size-3d-high-resolution-wallpapers-1920x1080-for-mobile.jpg);
    background-size: 100%;
    background-position: center;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% auto 20%;
    height: 100vh;
    }
    
.links{
    display: flex;
    justify-content: space-evenly;
}
.grid-1{
    border: none;
}
.grid-2{
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    text-align: center;
}
.links {
 padding: 20px;;
}

.grid-3{
    border: none;
    
}
.grid-4{
    border: none;
}
.grid-5{
    border: none;
}
.grid-6{
    border: none;
    
}
.grid-7{
    border: none;
}
.grid-8{
    border: none;
    justify-items: center;
}
.grid-9{
    border: none;
    
}

  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  
}
.fa-twitter-square {
    font-size: 10vh;
}
.fa-linkedin {
    font-size: 10vh;
}

.fa-github-square {
    font-size: 10vh;
}

.fa-font-awesome {
    font-size: 10vh;
}

.fa-puzzle-piece {
    font-size: 10vh;
}

.fa-amazon {
    font-size: 10vh;
}

.fa-dropbox {
    font-size: 10vh;
}


.fa-cloud-sun {
    font-size: 10vh;
}

.fa-slack {
    font-size: 10vh;
}

.fa-adobe {
    font-size: 10vh;
}

.fa-youtube-square {
    font-size: 10vh;
}

.links
{
    text-decoration: none;
}