html {
    background-image: url(/img/download.png); 
    

}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

}

body {
   
    font-family: '_Lora_';
    line-height: 1.2;
    background-image: url(/img/2.jfif);
    
}

img {
    max-width: 100%;
    border-radius: 50%;
}


.container {
    max-width: 90px;
    margin: 40px auto;
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid darkgray;
}

.my-name {
    font-size: 48px;
}

.section-title {
    font-size: 28px;
}
.my-title {
    font-size: 28px;
}
.education-title2 {
    top: auto;
}

.job {
    padding-bottom: 24px;
    margin-bottom: 24px;
}

